select.ng-pristine.ng-valid.ng-valid-required {
    width: 300px;
}

.but button.btn.btn-primary {
    margin-right: 10px;
    margin-bottom: 10px;
}

.flex.but {
    max-width: 300px;
    margin: auto;
}

.drop {
    max-width: 300px;
    margin: auto;
}

.drop p {
    text-align: left;
}