<header class="d-flex mb-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light flex-row w-100">
      <a class="navbar-brand px-2" [routerLink]="['']">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Decathlon_Logo.svg/320px-Decathlon_Logo.svg.png"
          class="img-fluid logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-fill">
          <li class="nav-item align-left">
            <a class="nav-link" aria-current="page" [routerLink]="['']">
              <i class="bi bi-house-door"></i>
              <label>Home</label>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="['/my-reviews']">
              <i class="bi bi-menu-up"></i>
              <label>Reviews</label>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="['']">
              <i class="bi bi-flag-fill"></i>
              <label>Challenges</label>
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['']">
              <i class="bi bi-star"></i>
              <label>Points</label>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['']">
              <i class="bi bi-trophy"></i>
              <label>Trophies</label>
            </a>
          </li>
        </ul>
        <form class="d-flex px-2">
          <a class="nav-link px-2" [routerLink]="['/login']">
            <i class="bi bi-person"></i>
            <label>Profile</label>
          </a>
        </form>
      </div>
    </nav>
</header>