.icon-img{
    height:15px;
    width: 15px;
    margin-right: 1rem;
}

.tags {
    background-color: 
    #0080c4;
    padding: .5rem;
    border-radius:1rem;
    color:white;
    font-size:.8rem;
    text-align:center;
}