<div class="row">
  <h1>How does it Work?</h1>
    <p>You recieve points which can be used to make purchases in Decathlon or redeem for money. For each 400 puntos = 6€ </p>
    <ul class="list-group my-3">
      <li class="list-group-item"><div class="d-flex justify-content-between"><span>1 Photo</span> <span>10 Points</span></div></li>
      <li class="list-group-item"><div class="d-flex justify-content-between"><span>Description with at least 200 characters</span> <span>1 Point</span></div></li>
      <li class="list-group-item"><div class="d-flex justify-content-between"> </div>
        <ul class="list-group list-group-flush">
          Purchases made with Affiliate link
          <li class="list-group-item"><div class="d-flex justify-content-between"><span>Item priced 1-20€</span> <span>30 Point</span></div></li>
          <li class="list-group-item"><div class="d-flex justify-content-between"><span>Item priced 20-50€</span> <span>40 Point</span></div></li>
          <li class="list-group-item"><div class="d-flex justify-content-between"><span>Item priced 50-100€</span> <span>50 Point</span></div></li>
      </ul>
        
      </li>
      <li class="list-group-item"><div class="d-flex justify-content-between"><span>After your 30th verified review</span> <span>100 Points</span></div></li>
    </ul>
    <div class="row mb-5">
        <h2>My Top Reviews</h2>
        <div
    class="col-lg-4 col-md-12"
    *ngFor="let review of myTopReviews; let i = index"
    >
        <a href="review">
          <div class="card top-reviews-card mb-3">
            <img class="card-img-top featured-photo" src="{{review.image}}" alt="Card image cap" />
            <div class="card-body">
              <div class="d-flex flex-row">
                  <div class="card-text">
                      <img class="icon-img" src="../../../assets/img/elements/heart.png" alt="Card image cap" />{{review.hearts}}
                  </div>
                  <div class="text-muted ms-4">
                    {{review.points}} pts
                  </div>
          
              </div>
              <div class="row">
                  <div class="tags col-3 m-2" *ngFor="let tag of review.tags;" >
                      {{tag.substring(0,8)}}
                  </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

</div>
