<div class="row">
    <div class="col-8">
        <div class="row mb-5">
            <h2>Recommended products</h2>
    
        <div
        class="col-12 col-lg-3 col-md-6"
        *ngFor="let product of productsArr; let i = index"
        >
            <div class="card mb-3">
              <img class="card-img-top" src="{{product.image}}" alt="Card image cap" />
              <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p> <span id="reviews-tag">142 reviews</span></p>
                <p class="card-text">
                  <small class="text-muted">{{product.price}} €</small>
                </p>
                <a target="_blank" href="https://www.decathlon.es/es/p/mascara-snorkel-adulto-easybreath-500-oyster/_/R-p-148873?mc=8491266&c=AZUL%20TURQUESA_AZUL" class="btn btn-primary">See product</a>
              </div>
            </div>
          </div>
          </div>
    
          <div class="row mb-5">
            <h2>Featured Photos</h2>
            <div
        class="col-lg-6 col-md-12"
        *ngFor="let photo of featuredPhotosArr; let i = index"
        >
            <div class="card featured-photo-card mb-3" [routerLink]="['/review']" id="product-card">
              <img class="card-img-top featured-photo" src="{{photo.image}}" alt="Card image cap"/>
              <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="card-text">
                        <img class="icon-img" src="../../../assets/img/elements/heart.png" alt="Card image cap" />{{photo.hearts}}
                    </div>
                    <div class="text-muted ms-4">
                      <img class="icon-img" src="../../../assets/img/elements/quotebubble.png" alt="Card image cap" />{{photo.comments}}
                    </div>
                    <!-- <div class="text-muted ms-4">
                      <img  style="width: 50px; border-radius: 50%;" class="px-3 img-fluid" src="{{photo.userImg}}" alt="Card image cap" />{{photo.userName}}
                    </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-5">
          <h2>Latest Products</h2>
      
      <div
      class="col-lg-3 col-md-6"
      *ngFor="let product of parsedArray; let i = index"
      >
          <div class="card mb-3">
            <img class="card-img-top" src="{{product.image}}" alt="Card image cap" />
            <div class="card-body">
      
              <h5 class="card-title">{{product.title}}</h5>
              <p class="card-text">{{product.description}}
              </p>
              <p class="card-text">Brand: {{product.brand}}
              </p>
              <p class="card-text">Category: {{product.category}}
              </p>
              <p class="card-text">
                <small class="text-muted">{{product.price}} €</small>
              </p>
            </div>
          </div>
        </div>
        </div>

        
    </div>
    <div class="col-12 col-md-4">
        <app-sidebar></app-sidebar>
    </div>
</div>