<div class="row mb-5">
    <h2>Popular Products</h2>
    
<div 
class="col-lg-3 col-md-6"
*ngFor="let product of productsArr; let i = index"
>
    <div class="card mb-3">
      <img class="card-img-top" src="{{product.image}}" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.description.substring(0,25)}}...
        </p> 
        <p class="card-text">
          <small class="text-muted">{{product.price}} €</small>
        </p>
      </div>
    </div>
  </div>
  </div>

  <div class="row g-4">
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="advanced-feature-item text-center rounded py-5 px-4">
            <i class="fa fa-edit fa-3x text-primary mb-4"></i>
            <h5 class="mb-3">Fully Customizable</h5>
            <p class="m-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet.</p>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="advanced-feature-item text-center rounded py-5 px-4">
            <i class="fa fa-sync fa-3x text-primary mb-4"></i>
            <h5 class="mb-3">App Integration</h5>
            <p class="m-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet.</p>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="advanced-feature-item text-center rounded py-5 px-4">
            <i class="fa fa-laptop fa-3x text-primary mb-4"></i>
            <h5 class="mb-3">High Resolution</h5>
            <p class="m-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet.</p>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="advanced-feature-item text-center rounded py-5 px-4">
            <i class="fa fa-draw-polygon fa-3x text-primary mb-4"></i>
            <h5 class="mb-3">Drag And Drop</h5>
            <p class="m-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet.</p>
        </div>
    </div>
</div>