<h3>Global ranking</h3>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Reviews</th>
        <th scope="col">Points</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>54</td>
        <td>2090pt</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>50</td>
        <td>1980pt</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>48</td>
        <td>1950pt</td>
      </tr>
    </tbody>
  </table>

  <hr>

  <h3>Your progress</h3>
  <ol class="list-group list-group">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">June</div>
        7 reviews
      </div>
      <span class="badge bg-primary rounded-pill">25 pt</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">July</div>
        4 reviews
      </div>
      <span class="badge bg-primary rounded-pill">15 pt</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">August</div>
        14 reviews
      </div>
      <span class="badge bg-primary rounded-pill">40 pt</span>
    </li>
  </ol>

  <hr>

  <h3>Your friends progress</h3>
  <ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Mark</div>
        32 reviews
      </div>
      <span class="badge bg-primary rounded-pill">1020pt</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Jacob</div>
        13 reviews
      </div>
      <span class="badge bg-primary rounded-pill">650pt</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Larry</div>
        5 reviews
      </div>
      <span class="badge bg-primary rounded-pill">490pt</span>
    </li>
  </ol>